BR2_aarch64=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH="$(ET_TOOLCHAIN_DIR)"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="$(ET_CROSS_TUPLE)"
BR2_TOOLCHAIN_EXTERNAL_HEADERS_5_10=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
# BR2_TOOLCHAIN_EXTERNAL_INET_RPC is not set
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TOOLCHAIN_EXTERNAL_GDB_SERVER_COPY=y
BR2_TARGET_OPTIMIZATION="-pipe"
BR2_DL_DIR="$(ET_ROOTFS_TARBALLS_DIR)"
BR2_CCACHE=y
BR2_ENABLE_DEBUG=y
BR2_SHARED_STATIC_LIBS=y
BR2_PACKAGE_OVERRIDE_FILE="$(TOPDIR)/local.mk"
BR2_GLOBAL_PATCH_DIR="$(ET_PATCH_DIR)"
BR2_REPRODUCIBLE=y
BR2_TARGET_GENERIC_HOSTNAME="$(ET_ROOTFS_HOSTNAME)"
BR2_TARGET_GENERIC_ISSUE="$(ET_ROOTFS_ISSUE)"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_ROOTFS_DEVICE_TABLE_SUPPORTS_EXTENDED_ATTRIBUTES=y
BR2_ROOTFS_MERGED_USR=y
BR2_TARGET_GENERIC_ROOT_PASSWD="root"
BR2_TARGET_GENERIC_GETTY_PORT="$(ET_ROOTFS_GETTY_PORT)"
BR2_TARGET_GENERIC_GETTY_BAUDRATE_115200=y
BR2_TARGET_GENERIC_GETTY_TERM="screen-256color"
BR2_SYSTEM_DEFAULT_PATH="/bin:/sbin:/usr/bin:/usr/sbin"
BR2_ROOTFS_OVERLAY="$(ET_KERNEL_DIR) $(ET_BOOTLOADER_DIR) $(ET_OVERLAY_DIR) $(ET_LIBRARY_DIR)"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(ET_SCRIPTS_DIR)/rootfs/post-build"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(ET_SCRIPTS_DIR)/rootfs/post-image"
BR2_PACKAGE_BUSYBOX_CONFIG="$(ET_ROOTFS_BUSYBOX_CONFIG)"
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_TARGET_ROOTFS_CPIO_UIMAGE=y
