CT_CONFIG_VERSION="3"
CT_EXPERIMENTAL=y
CT_DEBUG_CT=y
CT_DEBUG_CT_SAVE_STEPS=y
CT_DEBUG_INTERACTIVE=y
CT_LOCAL_TARBALLS_DIR="${ET_TOOLCHAIN_TARBALLS_DIR}"
CT_TARBALLS_BUILDROOT_LAYOUT=y
CT_WORK_DIR="${ET_TOOLCHAIN_BUILD_DIR}"
CT_PREFIX_DIR="${ET_TOOLCHAIN_DIR}"
# CT_RM_RF_PREFIX_DIR is not set
# CT_PREFIX_DIR_RO is not set
CT_STRIP_TARGET_TOOLCHAIN_EXECUTABLES=y
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${ET_DIR}/patches"
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_ARM=y
CT_ARCH_ARM_MODE_THUMB=y
CT_MULTILIB=y
CT_ARCH_FPU="fpv4-sp-d16"
CT_ARCH_FLOAT_HW=y
CT_TARGET_CFLAGS="-ftls-model=local-exec -mabi=aapcs -mthumb -march=armv7e-m+fp -mfpu=fpv4-sp-d16 -mfloat-abi=hard"
CT_TARGET_LDFLAGS="-mabi=aapcs -mthumb -march=armv7e-m+fp -mfpu=fpv4-sp-d16 -mfloat-abi=hard"
# CT_SHOW_CT_VERSION is not set
CT_TOOLCHAIN_PKGVERSION="Arm® Cortex®-M4 EABI Hardware Floating Point"
CT_TOOLCHAIN_BUGURL="https://www.woodsts.org/contact.html"
CT_TARGET_VENDOR="none"
CT_TOOLCHAIN_ENABLE_NLS=y
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_LIBC_NONE=y
CT_GCC_V_10=y
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--enable-plugins --enable-install-libiberty --with-mode=thumb --with-arch=armv7e-m+fp --with-fpu=fpv4-sp-d16 --with-float=hard"
# CT_CC_GCC_STATIC_LIBSTDCXX is not set
CT_CC_GCC_SYSTEM_ZLIB=y
CT_CC_GCC_CONFIG_TLS=y
# CT_CC_GCC_ENABLE_TARGET_OPTSPACE is not set
CT_CC_GCC_LDBL_128=y
CT_CC_GCC_LNK_HASH_STYLE_GNU=y
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
CT_GDB_CROSS_SIM=y
# CT_GDB_CROSS_PYTHON is not set
CT_COMP_LIBS_LIBELF=y
CT_NCURSES_HOST_FALLBACKS="linux,screen-256color,xterm,xterm-color,xterm-256color,vt100"
CT_NCURSES_TARGET_DISABLE_DB=y
CT_NCURSES_TARGET_FALLBACKS="linux,screen-256color,xterm,xterm-color,xterm-256color,vt100"
CT_COMP_LIBS_NEWLIB_NANO=y
CT_LIBC_NEWLIB_NANO_TARGET_CFLAGS="-fno-builtin -fno-strict-aliasing -ffunction-sections -fdata-sections"
CT_LIBC_NEWLIB_NANO_IO_C99FMT=y
CT_LIBC_NEWLIB_NANO_IO_LL=y
CT_LIBC_NEWLIB_NANO_IO_FLOAT=y
CT_LIBC_NEWLIB_NANO_IO_LDBL=y
CT_LIBC_NEWLIB_NANO_IO_POS_ARGS=y
# CT_LIBC_NEWLIB_NANO_FVWRITE_IN_STREAMIO is not set
# CT_LIBC_NEWLIB_NANO_ATEXIT_DYNAMIC_ALLOC is not set
CT_LIBC_NEWLIB_NANO_RETARGETABLE_LOCKING=y
CT_LIBC_NEWLIB_NANO_EXTRA_SECTIONS=y
CT_COMP_LIBS_PICOLIBC=y
CT_LIBC_PICOLIBC_TARGET_CFLAGS="-fno-builtin -fno-strict-aliasing -ffunction-sections -fdata-sections"
CT_LIBC_PICOLIBC_GLOBAL_ATEXIT=y
CT_LIBC_PICOLIBC_EXTRA_SECTIONS=y
