CT_CONFIG_VERSION="3"
CT_EXPERIMENTAL=y
CT_DEBUG_CT=y
CT_DEBUG_CT_SAVE_STEPS=y
# CT_DEBUG_CT_SAVE_STEPS_GZIP is not set
CT_DEBUG_INTERACTIVE=y
CT_LOCAL_TARBALLS_DIR="${ET_TOOLCHAIN_TARBALLS_DIR}"
CT_TARBALLS_BUILDROOT_LAYOUT=y
CT_WORK_DIR="${ET_TOOLCHAIN_BUILD_DIR}"
CT_PREFIX_DIR="${ET_TOOLCHAIN_DIR}"
# CT_RM_RF_PREFIX_DIR is not set
# CT_PREFIX_DIR_RO is not set
CT_STRIP_TARGET_TOOLCHAIN_EXECUTABLES=y
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${ET_DIR}/patches"
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_ARM=y
CT_ARCH_CPU="cortex-a53"
CT_ARCH_64=y
# CT_SHOW_CT_VERSION is not set
CT_TOOLCHAIN_PKGVERSION="AArch64 Arm® Cortex®-A53 Linux GNU"
CT_TOOLCHAIN_BUGURL="https://www.woodsts.org/contact.html"
CT_TARGET_VENDOR="cortexa53"
CT_TARGET_ALIAS="aarch64-linux"
CT_TOOLCHAIN_ENABLE_NLS=y
CT_KERNEL_LINUX=y
CT_LINUX_V_4_19=y
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_BINUTILS_FOR_TARGET=y
CT_LIBC_GLIBC=y
CT_GLIBC_USE_LIBIDN_ADDON=y
# CT_GLIBC_ENABLE_OBSOLETE_RPC is not set
# CT_GLIBC_ENABLE_WERROR is not set
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--enable-gnu-indirect-function --enable-checking=release --enable-clocale=gnu --enable-install-libiberty --enable-plugin --with-isl"
# CT_CC_GCC_STATIC_LIBSTDCXX is not set
CT_CC_GCC_SYSTEM_ZLIB=y
# CT_CC_GCC_ENABLE_TARGET_OPTSPACE is not set
CT_CC_GCC_LIBSSP=y
CT_CC_GCC_LIBQUADMATH=y
# CT_CC_GCC_SJLJ_EXCEPTIONS is not set
CT_CC_GCC_BUILD_ID=y
CT_CC_GCC_LNK_HASH_STYLE_GNU=y
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
# CT_GDB_CROSS_PYTHON is not set
CT_DEBUG_STRACE=y
CT_COMP_LIBS_LIBELF=y
CT_NCURSES_TARGET_DISABLE_DB=y
CT_NCURSES_TARGET_FALLBACKS="linux,screen-256color,xterm,xterm-color,xterm-256color,vt100"
